<div class="form__container">

    <form>
        <h1>Preencha as informações</h1>
        <p class="col-1"><input type="text" name="Nome" id="nome" placeholder="Nome"></p>
        <p class="col-2"><input type="text" name="Email" id="email" placeholder="Email"></p>
        <p class="col-2"><input type="text" name="Nascimento" id="nascimento" placeholder="Nascimento"></p>
        <p class="col-2"><input type="text" name="CPF" id="cpf" placeholder="CPF"></p>
        <p class="col-2 last"><input type="tel" name="Telefone" id="telefone" placeholder="Telefone"></p>

        <div class="form__button-container col-1">
                <button class="button" ng-click="sendData()">Finalizar</button>
        </div>

        <div class="alert-form"></div>
    </form>

</div>